.custom-brand {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
}
.custom-brand:hover {
    color: #fff;
}
.custom-brand img {
    height: 40px;
}